<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDbV5ZlwePXhRW9jEF8VVOGu4EOoyouf-0</string>
	<key>GCM_SENDER_ID</key>
	<string>250479559663</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecommerceUserApp</string>
	<key>PROJECT_ID</key>
	<string>hackatonproject-2ab9a</string>
	<key>STORAGE_BUCKET</key>
	<string>hackatonproject-2ab9a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:250479559663:ios:a435007083e683e4f6ec1a</string>
</dict>
</plist>